<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TelegramApiToken" value=""/>
    <add key="MyShowsApiUrl" value="https://api.myshows.me/v2/rpc/"/>
    <add key="LogFolder" value="C:/Logs/ShowMustNotGoOn"/>
  </appSettings>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=ShowMustNotGoOn.db" providerName="System.Data.SQLite" />
  </connectionStrings>
</configuration>
