<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="TelegramApiToken" value="944822509:AAGc8Xa6Q67pdyetdb7twidCAGwMObgRUMU"/>
    <add key="MyShowsApiUrl" value="https://api.myshows.me/v2/rpc/"/>
    <add key="LogFolder" value="C:/Logs/ShowMustNotGoOn"/>
  </appSettings>
</configuration>
